body, html {
	height: 100%;
    width: 100%;
    margin: 0;
    -webkit-overflow-scrolling: touch;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
    -webkit-touch-callout: default;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

div.main {
	height: calc(100% - 100px);
	text-align: center;
    background: linear-gradient(to bottom right, #87FC70, #0BD318);
/*    background: linear-gradient(to bottom right, red, yellow);*/
/*    background: linear-gradient(to bottom right, rgb(23,234,217), rgb(96,120,234));*/
/*background: linear-gradient(to bottom right, #6094EA, #F02FC2);*/
    position: relative;
    overflow-y:scroll;
    display: block;
}

.profile-contents {
    position: absolute;
    height: 85%;
    width: 660px;
    top: 30px;
    left: calc(50% - 330px);
}

.avatar-image img {
    text-align: center;
    background-color: lightgray;
    border: 6px solid rgb(248, 248, 255);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 1px;
}

.avatar-border {
    margin: auto;
    border-radius: 50%;
    background-color: rgb(150, 150, 150);
    height: 214px;
    width: 214px;
}

.hello {
    margin-top: 16px;
    color: rgb(36, 41, 46);
    font-weight: 600;
    font-size: xx-large;
}

.hello a {
    color: white;
    font-weight: 800;
}

.this-is-me {
    color: rgb(36, 41, 46);
    margin-top: 8px;
    font-weight: 500;
    font-size: large;
    text-align: justify;
}

.this-is-me a {
    color: white;
    font-weight: bolder;
}

.bottom-bar {
    height: 100px;
    text-align: center;
    color: white;
    background-color: rgb(36, 41, 46);
    position: relative;
}

.social-links {
    vertical-align: middle;
    height: calc(100% - 28px);
}

.social-links img {
    margin: 10px 8px;
    height: 48px;
    width: 48px;
    object-fit: contain;
}

.powered-by, .bottom-text-wrapper {
    text-align: center;
    color: rgb(240, 240, 240);
    height: 28px;
    font-size: 14px;
    background-color: rgb(18, 20, 23);
    vertical-align: middle;
    line-height: 28px;
}

.powered-by a {
    font-weight: bolder;
}

.bottom-text-wrapper {
    margin: 0px 2px;
    display: inline;
}

@media screen and (min-width: 600px) {
    div.main {
        min-height: 700px;
    }
}

@media screen and (max-width: 600px) {
    .profile-contents {
        height: 730px;
        width: 88%;
        left: 6%;
    }

    .social-links img {
        margin: 8px;
        height: 36px;
        width: 36px;
    }

    .social-links {
        height: calc(100% - 50px);
    }

    .bottom-bar {
        height: 100px;
        overflow: hidden;
    }

    div.main {
        height: calc(100% - 100px);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
    }

    .powered-by {
        height: 50px;
        font-size: 12px;
        display: grid;
    }

    .powered-by, .bottom-text-wrapper {
        background-color: rgb(18, 20, 23);
        line-height: 21px;
    }

    .bottom-text-wrapper {
        margin-top: 1px;
        height: 21px;
    }

    .this-is-me {
        text-align: left;
        font-weight: 400;
        margin-top: 12px;
        font-size: medium;
    }

    .avatar-image img {
        height: 140px;
        width: 140px;
        border: 4px solid rgb(248, 248, 255);
    }

    .avatar-border {
        margin: auto;
        border-radius: 50%;
        background-color: rgb(150, 150, 150);
        height: 150px;
        width: 150px;
    }

    .hello {
        font-size: x-large;
    }
}
