body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

body {
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol';
	overflow-x: hidden;
	background-color: #050d1a;
	color: rgba(255, 255, 255, 0.9);
}

a {
	text-decoration: none;
	-webkit-touch-callout: default;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

* {
	box-sizing: border-box;
}
